/* redes sociales */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.icons {
    display: flex;
    column-gap: 25px;
}

.icon {
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: white;
    outline: 2px solid green;
    transition-duration: .25s;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 2px;
}

.icon:hover {
    outline-offset: 4px;
    transform: scale(1.3);
}

.icon:hover i {
    animation: shake .25s;
}


.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%, #fdf497 5%,
            #fd5949 45%, #d6249f 60%,
            #285AEB 90%);
    outline-color: #a02d76;
}

.icon--facebook:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}

.icon--whatsapp:hover {
    background-color: #2ea44f;
    outline-color: #2ea44f;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}






@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');



/* The footer is fixed to the bottom of the page */

.footer-distributed {
    background-color: #A6DCEF;
    font: bold 16px Roboto Condensed;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
}



/* Footer left */


.footer-distributed .navbar-brand {
    font-size: 35px;
    color: green;
    font-family: 'Roboto Condensed', sans-serif;
}



.footer-distributed .footer-links a {
    font-size: 15px;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */


.footer-distributed .footer-center i {
    background-color: #DDF3F5;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: green;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
}

/* Footer Right */

.footer-right{
    font-size: 20px;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: green;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: green;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}



@media (min-width: 914px) and (max-width: 992px) {
    .footer-distributed {
        font-size: 40px; 
    }
}

@media (min-width: 914px) and (max-width: 992px){
    .footer-icons{
        margin-bottom: 25px;
    }
}


@media (min-width: 914px) and (max-width: 992px) {
    .footer-left p {
        font-size: 35px;
        padding-bottom: 15px;
        text-align: justify;
    }
}

@media (min-width: 914px) and (max-width: 992px) {
    .footer-left a {
        font-size: 100px;
        padding-bottom: 20px;
    }
}

@media (min-width: 914px) and (max-width: 992px) {
    .footer-right p {
        font-size: 40px;   
    }
}