
.footer {
    background-image: url(../images/background/background-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
    max-width: 1500px;
    margin-top: 35px;
    padding-top: 350px;
}