.section_2 {
    text-align: center;
    font-family: 'Courgette';
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/background/background-section-1.jpg);
    margin: 10px;
    max-width: 1500px;
    margin: 0 auto;  
    margin-top: 35px;
}

.section_2 .container img {   
    height: 250px;
    width: 250px;    
    margin-top: 100px;
}


.section_2 .container h6{
    margin-bottom: 100px;
}