/* carousel */

.carousel{
    margin-bottom: 25px;
}

.carousel img {
    margin-top: 25px;
    width: 500px;
    height: 550px;  
}

/* menú */

.nav {   
    background-color: #A6DCEF;
    font-size: 20px;
}

.nav a {
    color: green;
    font-family: 'Roboto Condensed', sans-serif;
}