

.card{
    margin-top: 25px;
   
}

.card-1{
    height: 305px;
}

.card h5 {
    text-align: center;
    color: rgb(29, 105, 29);
    font-size: 20px;
}

.card p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: rgb(29, 105, 29);
    font-size: 15px;
}

h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: green;
}

.card:hover img {
    transform: scale(1.1);
    transition-duration: .9s;
}