.product-background{
    margin-top: 100px;
    font-family: 'Kalam';    
}


.product-img {   
    height: 300px;
    width: 300px;      
    border-radius: 100%;
}

.product-subtitule{
    margin-top: 25px;
}

